@model IEnumerable<TiendaRosse_MVC.Models.Calzado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_calzado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Talla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_calzado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Talla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<img src="~/Imagenes/Tennis.JPG", width="250px" , height="300px"  />
<img src="~/Imagenes/zapatos.JPG", width="250px" , height="300px"  />
<img src="~/Imagenes/Z1.JPG", width="250px" , height="300px"  />
<img src="~/Imagenes/Z2.JPG", width="250px" , height="300px"  />
<img src="~/Imagenes/Z3.JPG", width="250px" , height="300px"  />
<img src="~/Imagenes/Z4.JPG", width="250px" , height="300px"  />
<img src="~/Imagenes/Z5.JPG", width="250px" , height="300px"  />